.W
  background: url('image/crash.png') no-repeat center/cover

.A
  background: url('image/kick.png') no-repeat center/cover

.S
  background: url('image/snare.png') no-repeat center/cover

.D
  background: url('image/tom1.png') no-repeat center/cover

.J
  background: url('image/tom2.png') no-repeat center/cover

.K
  background: url('image/tom3.png') no-repeat center/cover

.L
  background: url('image/tom4.png') no-repeat center/cover