.sacramento-regular {

  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}
body{
    color:#090a0a;
    margin:0px;
    text-align: center;
    font-family: Merriweather,serif;
}
.top-container{
    background-color: #EAF6f6;
}


img{
    width:125px;
    height:100px;
}
h1{
    padding: 150px;
    color:#66bfbf;
    margin-left:auto ;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 50px;
    height: 10px;
    font-family: 'Sacramento',cursive;
    font-size: 70px;

}



.top-cloud{
    padding: 40px;
    position: absolute;
    right:200px;
    width:180px;
    height:60px;
}


h2{ color:#66bfbf;
    font-family: sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color:#11999E
}

.bottom-cloud{
    position: absolute;
    left:200px;
    bottom: 300px;
    width:180px;
    height:60px;
}

.mount{
    height: 300px;
    width: 400px;
}


.pfp{
    height: 150px;
    width: 150px;
}

.py{
    height: 150px;
    width: 150px;
    float: left;
    margin-right:30px ;
}


.c{
    height: 150px;
    width: 140px;
    float: right;
    margin-left:30px ;
    
}

.cpp{
    height: 150px;
    width: 150px;
    float: left;
    margin-right:30px ;
    
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.middle-container{
    width:100px 0;
}



hr {
  border: none;
  border-top: 10px dotted #6f8383;
  height: 0;
  width:150px ;
  background-color: #ffffff;
  margin-top: 100px;
  margin-bottom: 100px;
} 

.profile{
    margin-top: 100px;;
}
.txt{
    font-size:40px;
}

.fix{
    margin-top: 200px;
}

#myself{
    color:#090a0a;
    font-family: serif;
    line-height: 1.5;

}

.last{
    margin-bottom: 100px;
}
.btn
{margin: 30px auto;
background:    #11999e;
border-radius: 11px;
padding:       20px 45px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 19px/1 "Open Sans", sans-serif;
text-align:    center;
text-decoration: none;}

.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

a{
    color : #11999E;
    margin: 10px 20px;
    text-decoration: none;
}

.me{
    margin-top: 0px;
}

.btn:hover{
    background-color: aqua;
    color:#090a0a;
}

a:hover{
    color: aqua;
}

.copyright{
    color:#ffffff;
    margin-top:20px;
    padding: 20px 0px;
}